// .bg-login
//  {
//   background: transparent;
//   backdrop-filter: blur(15px);
//  }

* {
  margin: 0;
}

::ng-deep .custom-button-login .p-button {
  background-color: var(--blue-500);
  border-color: var(--blue-500)  !important;
}

::ng-deep .custom-button-login .p-button-label {
  color: white !important;
}

::ng-deep .custom-button-login .p-button:hover {
  background-color: var(--blue-300) !important;
}
